<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--|url_for('static') devolve o caminho para a pasta static independente de onde estejamos|-->
    <!--|isso é importante se quisermos usar essa base para arquivos que iriam possuir caminhos|-->
    <!--|diferentes para a pasta static, como fora de templates nesse caso                     |-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    {% block body %}{% endblock body %}
</body>
</html>